.link{
    stroke-width: 4;
    stroke: white;
}

.graph{
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    -webkit-transition: width 2s, -webkit-transform 2s;
    transition: width 2s, transform 2s;
}

.graph-svg{
    width: 100%;
    background-color: #212121;
    border-left: 1px solid #0f0f0f;
    border-right: 1px solid #0f0f0f;
}

.graph-header{
    margin-top: 20px;
    margin-bottom: 20px;
}

.message-circle{
    stroke: black;
}

.node{
    stroke: black;
}

.graph-transform{

}