
.main-container{
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    align-items: flex-start;
    background-color: #112163;
}

.online-people-container{
  width: 20%;
  color: white;
  position: relative;
}

.chat-container{
  width: 30%;
  color: white;
  position: relative;
}

.graph-container{
  position: relative;
  width: 50%;
  color: white;
}


