.chat{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #171529;
}

.chat.closed{
  justify-content: center;
}

.chat-annotation{
  width: 350px;
  color: #aaaaaa;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #212121;
}

.empty-chat-annotation{
  color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #212121;
}

.chat-current-user{
  padding: 7px 1rem 7px 1rem;
  margin: 0;
  width: 100%;
  background-color: #212121;
  border-left: 1px solid #0f0f0f;
  border-right: 1px solid #0f0f0f;
  display: flex;
  align-items: center;
}

.current-user-content{
  flex: 1 1 auto;
  padding-left: 1.125rem;
}

.current-user-name{
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}

.current-user-status{
  color: #8774e1;
  line-height: 24px;
  font-size: 16px;
  margin: 0;
}

.chat-cross-icon{
  left: 0;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.chat-cross-el{
  width: 5px;
  height: 20px;
  background-color: white;
  position: absolute;

}

.message{
  margin-top: 5px;
}

.message-text{
  padding: 5px 10px 5px 10px;
  border-radius: 10px 10px 10px 10px;
  max-width: 75%;
  min-width: 5%;
  word-break: break-word;
  z-index: 100;
}

.user-message-text{
  background-color: #8774e1;
  border-bottom-right-radius: 0;
}

.user-message{
  display: flex;
  justify-content: right;
  align-items: flex-end;
  margin-right: 6px;
}

.dialog-message-text{
  background-color: #212121;
  border-bottom-left-radius: 0;
}

.dialog-message{
  display: flex;
  justify-content: left;
  align-items: flex-end;
  margin-left: 6px;
}

.user-tail{
  margin-right: -8.4px;
  transform: scaleX(-1);
  background-color: #8774e1;
}

.dialog-tail{
  margin-left: -8.4px;
  background-color: #212121;
}

.message-tail{
  position: absolute;
  width: 11px;
  height: 20px;
  display: block;
  border-radius: 0 0 0 2px;
}

.user-tail-corrector{
  transform: rotate(-25deg);
  margin-right: -20px;

}

.dialog-tail-corrector{
  transform: rotate(25deg);
  margin-left: -20px;
}

.message-tail-corrector{
  position: absolute;
  width: 20px;
  height: 26px;
  display: block;
  background-color: #171529;
  margin-bottom: 0;
  border-radius: 100%;
  overflow: hidden;
  z-index: 3;
}

.send-area{
  width:60%;
  height: 75px;
  margin-bottom: 30px;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.messages-area{
  height: 100%;
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
  overflow:auto;

}

.chat-empty{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-message-area{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.message-input-container{
  background-color: #212121;
  width: 80%;
  padding: 10px 25px;
  border-radius: 15px 15px 0 15px;
  display: flex;
  align-items: center;
}

.message-input{
  width: 100%;
  height: 24px;
  background-color: #212121;
  border: none;
  color: white;
  word-wrap: break-word;
  word-break: break-all;
  resize: none;
}

.message-input:focus{
  outline: none;
}

textarea::-webkit-scrollbar {
  width: 2px;
  border-radius: 50%;
}

textarea::-webkit-scrollbar-track {
}

textarea::-webkit-scrollbar-thumb {
  background-color: #8774e1;

}

.button{
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: bold;
}

.message-button{
  background-color: #8774e1;
}

button.disabled{
  background-color: #6c757d;
}

.message-button:hover{
  background-color: #8774e1;
}
