.people{
  /*width: 400px;*/
  width: 400px;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;

}

.people-header{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 24px;
  word-break: keep-all;
}

.people-list-container{
  overflow:hidden;
  width: 100%;

  margin: 0;
}

.people-list-container:hover {
  overflow: auto;
}
.people-list-container::-webkit-scrollbar {
  width: 6px;
}

.people-list-container::-webkit-scrollbar-thumb {
  background-color: white;
  outline: 1px solid #0a1644;
}


.people-list{
  width: 100%;
  list-style: none;
  padding: 0 0.5rem;
  white-space: nowrap;
  height: 100%;
  margin: 0;
}



.people-user{
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 11px 10px 11px 10px;
  border-radius: 5px;
  width: 100%;
}

.people-user:hover{
  background-color: #2b2b2b;
}

.people-user.active{
  background-color: #8774e1;
}

.people-user.disabled{
  display: none;
}

.user-icon{
  width: 50px;
  height: 50px;
  border-radius: 50%;

  overflow: auto;
}

.user-name{
  margin-left: 10px;
  color: white;
}

