
.wrapper{
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #112163;
}

.main-container{
    width: 100%;
    min-height: 100%;

}

.login-header{
    margin-top: 150px;
    color: black;
    font-weight: bold;
    font-size: 44px;
}

.login-container{
    height: 500px;
    width: 500px;
    background-color: #fbff0c;
    border-radius: 30px 300px 40px 300px;
    border: 4px solid #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

.login-input{
    margin-top: 15px;
    border-radius: 5px;
    width: 250px;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #f2f4b7;
    color: black;

}

.login-button{
    bottom: 0;
    right: 0;
    border-radius: 35px 0 35px 0;
    position: absolute;
    background-color: #1c9135;
    height: 70px;
    width: 70px;
    border-top: 2px solid beige;
    border-left: 2px solid beige;
    border-bottom: none;
    border-right: none;
    color: white;

    font-weight: bold;

}
.login-button:hover{
    border: none;
    background-color: #3bb928;
}
.login-button:active{
    border-top: 2px solid beige;
    border-left: 2px solid beige;
}

div.disabled{
    display: none;
}

.login-error{
    color: red;
}

.login-color{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
}

.login-color-text{
    color: black;
}

.color-wrapper{
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 1px 1px 3px 0px grey;
    height: 50px;
    width: 50px;
    border: 2px solid black;
}

.login-color-input{
    height: 75px;
    width: 75px;
    border: none;
    padding: 0;
    margin: -25%;
}